:root {
    font-family: Tahoma,Verdana,Segoe,sans-serif; 
    font-size: 20pt;
    background-color: #ebebeb;
    margin: 0px;
}

header{
    color: #312783;
    text-align: center;
    
    width: 400px;
    margin: auto;

    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.493);
}

section{
    color: #686868;
    font-size: 17pt;
    

    width: 600px;
    padding: 15px;
    margin: auto;

    border-radius: 32px 64px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.493);
}

div{
    margin: auto;
    text-align: center;
}
p{
    text-align: justify;
}

button{
    width: 185px;
    padding: 1em;
    margin: 20px;

    background-color: #312783;
    border-radius: 32px;
}

.sum{
    width: 100px;
    height: fit-content;
    color:#ebebeb;
}

.generateImage{
    color: #ebebeb;
}

.displayImage img{
    max-width: 50%;
    max-height: 50%;
}

a{
    font-size: 15pt;
    color: #ebebeb;
    text-decoration: none;
}

footer{
    color: rgb(0, 0, 0);
    text-align: center;

    width: 180px;
    margin: auto;
    
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
}